.app {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #0f62fe;
}

.title {
  margin: 0px;
  width: auto;
  font-family: 'Codystar';
  font-size: 80px;
  color: #000000;
}
.checkin-header {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  background-color: #EEEEEE;
  padding: 15px 40px;
  box-shadow: 10px 8px black;
}

.location {
  text-align: center;
  color: #000000;
}

.checkin-button {
  margin-bottom: 20px;
  justify-self: center;
  width: max-content;
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  background-color: #0199EF;
  color: #FFFFFF;
}

.checkin-button:hover {
  background-color: #7ac2eb; /* Darker blue */
}

.reports-button {
  margin-bottom: 40px;
  justify-self: center;
  width: max-content;
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  background-color: #0199EF;
  color: #FFFFFF;
}

.reports-button:hover {
  background-color: #7ac2eb; /* Darker blue */
}

.checkin-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
  color: #FFFFFF;
}
.checkin-hr {
  margin: 0px;
  width: 55%;
  border: 4px solid #000000;
}

.status {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.checkin-form-box {
  margin-top: 60px;
  display: grid;
}