/*
    entire page background
*/
.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #FFFFFF;
}

.login-form-box {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    padding: 40px;
    gap: 15px;
    box-shadow: 10px 10px black;
}

.login-title {
    margin: 0px;
    font-size: 30px;
    color: #000000;
}

.login-subtitle {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
}

.signin-button {
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    background-color: #0199EF;
    color: #FFFFFF;
}

.signin-button:hover {
    background-color: #7ac2eb; /* Darker blue */
}

.eye-button {
    width: 32px;
    border: none;
    cursor: pointer;
}


#textbox {
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px;
    background-color: transparent;
    width: 44vh;
    color: #000000;
}

#password {
    border: none;
    padding: 10px;
    background-color: transparent;
    width: 40vh;
    color: #000000;
}

#password-div {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
    border: 1px solid #000000;
    border-radius: 3px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-header {
    position: absolute;
    gap: 10px;
    top: 10px;
    left:20px;
    display: flex;
    flex-direction: row;
}

.header-title {
    margin: 0px;
    width: auto;
    font-family: 'Codystar';
    font-size: 40px;
    color: #000000;
}

.signin-hr {
    margin: 5px;
    border: 1px solid #000000;
}